<div *ngFor="let triviaQuestion of triviaQuestions">
  <p [innerHTML]="triviaQuestion.question" class="question"></p>
  <div>
    <button [innerHTML]="answer.value" class="button"
      *ngFor="let answer of triviaQuestion.answers"
      (click)="onAnswerClick(triviaQuestion, answer)"
      [className]="lookupAnswerButtonClass(triviaQuestion, answer)"></button>
  </div>
</div>

<button class="submit-button" *ngIf="allQuestionsAnswered && !showResults"
  (click)="onSubmit()">Submit</button>

<div *ngIf="showResults" [ngClass]="lookupResultsClass()">
  {{'You scored ' + score + ' out of 5'}}
</div>
